@mixin btn-primary($padding: 0.5em 1em, $border-width: 2px, $border-color: #007bff) {
    padding: $padding;
    border: $border-width solid $border-color;
    border-radius: 4px;
    background-color: $border-color;
    color: red;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  
    // &:hover {
    //   background-color: lighten($border-color, 10%);
    //   border-color: lighten($border-color, 10%);
    // }
  
    // &:active {
    //   background-color: darken($border-color, 10%);
    //   border-color: darken($border-color, 10%);
    // }
}