// @use '../assets/styles/mixins' as mixins;
// @use '../assets/styles/variables' as variables;

.homepage {
    display: grid;
    grid-template-columns: 1.5fr 2fr;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: -1rem;
    //     left: -1rem;
    //     width: 200px;
    //     height: 200px;
    //     background-image: url('../assets/images/svg/scribble_1.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     pointer-events: none;
    //     z-index: -1;
    // }
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        h1 {
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            font-style: normal;
            font-size: 4rem;
            margin-bottom: 2rem;
            text-align: center;
            span {
                color: orange;
            }
        }
        p {
            font-size: 2rem;
        }
        &-description {
            span {
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: normal;
                font-size: 3rem;
                color: orange;
            }
        }
        button {
            background-color: orange;
            padding: .3rem .6rem;
            border-radius: 8px;
            color: blacj;
            font-weight: 800;
            transition: background-color 0.4s ease-out, color 0.4s ease-out;
            &:hover {
                background-color: black;
                color: white;   
            }
        }
    }
    &__collage {
        padding: 1rem 1rem 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        img {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 12;
            object-fit: cover;
            border-radius: 8px;
            grid-column: span 1;
            
            &:nth-child(3n) {
                aspect-ratio: 23 / 9;
                grid-column: span 2;
            }
        }
    }
}