# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# Optional: Operating system files
.DS_Store
Thumbs.db

# Optional: VSCode settings
.vscode/

# Optional: Coverage reports
coverage/

# Optional: Debug files
*.tgz
*.swp
