.back-btn {
    &--overlay {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.487);
        transition: background-color 0.5s ease;
        img {
            width: 50px;
        }
        .back-text {
            visibility: hidden;
            opacity: 0;
            transform: translateX(-10px);
            padding-right: .7rem;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
        &:hover {
            width: auto;
            border-radius: 24px;
            background-color: white;
            .back-text {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}