.product-card {
    width: fit-content;
    background-color: rgb(235, 234, 234);
    border-radius: 12px;
    &__image {
        max-width: 400px;
        img {
            border-radius: 12px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            aspect-ratio: 16 / 9;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__text {
        padding: 1rem;
        & > div:first-child {
            display: flex;
            justify-content: space-between;
        }
        .tags {
            span {
                font-size: 12px;
                background-color: #fff;
                border-radius: 12px;
                padding: .1rem .5rem;
                
            }
            span + span {
                margin-left: .5rem;
            }
        }
    }
}